<h2 mat-dialog-title>For business</h2>
<mat-dialog-content class="mat-typography">
  <h3>How it all starts</h3>
  <p>KBTU courses do not provide an opportunity for anyone who wants to publish their course: the platform does not work
    with individuals, but with universities. The platform selects partners very carefully: the university with which it
    plans to conclude an agreement should be recommended by the universities already participating in the project. The
    quality of the courses is monitored by the KBTU courses team, but basically it is guaranteed by the university
    itself.</p>

  <h3>Participation in KBTU courses</h3>
  <p>KBTU courses has an internal course for teachers, which is admitted to by a dedicated manager. It provides
    guidelines and describes how the course should look roughly. In the future, KBTU courses does not interfere with the
    process unnecessarily. We are always ready to help if something does not work on the platform, but we are not
    engaged in content creation. What the course will be depends on the instructor. The course should have a
    description, an introductory video that explains the content, a program of weekly lectures, which in turn should be
    divided into video fragments of 8-12 minutes. The entire learning process should not take more than 10-12 weeks,
    because otherwise the participants will get bored and quit. In addition, you cannot do without assignments for each
    week. Texts of lectures and teaching materials should be available to listeners.
    For cooperation, write to <a class="text-blue-400" href="mailto: kbtucourses@kbtu.kz">kbtucourses@kbtu.kz</a></p>

  <h3>Motivation</h3>
  <p>KBTU courses, like other online courses, are absolutely loyal to their listeners, and this platform does not
    provide systems of penalties for a missed "lesson". Nevertheless, there are participants who receive not the first
    certificate of completion of the course, but someone breaks down after the first lessons.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
