<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Front-end developer
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Front-end development focuses on the user-facing side of a website. Front-end developers ensure that visitors can
      easily interact with and navigate sites by using programming languages, design skills, and other tools. They
      produce the drop-down menus, layouts, and designs for websites.<br><br>
      Front-end devs use computer programming languages like JavaScript, HyperText Markup Language (HTML), and Cascading
      Style Sheets (CSS) to design websites. Each language serves a unique purpose. HTML lays out the site’s content and
      structure, CSS adds design features, and JavaScript creates advanced interactive features. Less commonly,
      front-end devs know other programming languages like Python, PHP, or Ruby.<br><br>
      A front-end developer typically needs a bachelor’s degree in web design, programming, computer science, or graphic
      design. Some individuals develop these skills through previous work, bootcamps, or projects to find employment
      without pursuing formal education.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Back-end developer
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Back-end developers focus on the server side of websites. They use technical skills to perform the
      behind-the-scenes work that creates a website’s structure and overall functionality, allowing a site’s front end
      to exist. These professionals create a site’s operations, databases, and application programming interface (API).<br><br>

      The back end includes an application, server, and database. Computer users often do not see the elements of
      back-end development, which remain below the hood of a website. <br><br>

      Back-end developers need advanced experience in server-side programming languages like Java, Python, and Ruby to
      build applications. Students can learn or brush up on specific computer programming languages by completing
      bootcamps. For example, see our page on the best Python courses.</p>
  </mat-expansion-panel>
</mat-accordion>
